body {
	display: flex;
	justify-content: center;
	text-align: center;
}
h1 {
	color: #00F;
	font-family: Arial;
}
.destaque{
	color: #F00;
	background-color: #FF0;
}
#importante{
	color: #0F0;
	font-weight: bold;
}

img{
	width: 300px;
	border-radius: 15px;
}
button{
	background-color: #006;
	color: #FFF;
}
button:hover{
	background-color: #00F;
}